<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*\.(css|js|png|jpg|jpeg|gif|ico|svg))$" />
          <action type="Rewrite" url="../{R:1}" />
        </rule>
        
        <!-- HTML files in root -->
        <rule name="HTMLContent" stopProcessing="true">
          <match url="^(.*\.html)$" />
          <action type="Rewrite" url="../{R:1}" />
        </rule>
        
        <!-- All other requests to Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>